{{ define "main" }}
  {{- $pages := .Pages -}}
  {{- $count := len $pages -}}
  {{- $hasTyped := false -}}
  {{- range $pages -}}
    {{- if and .Params.posttype (index site.Data.posttypes .Params.posttype) -}}
      {{- $hasTyped = true -}}
    {{- end -}}
  {{- end -}}

  {{- if $hasTyped -}}
    {{ partial "filter-chips.html" (dict
      "types"      site.Data.posttypes
      "storageKey" (printf "tui:filter:%s" .Section)
      "targetId"   "list-panel"
    ) }}
  {{- end -}}

  <div class="grid-list-preview content-responsive">
    {{ partial "panel.html" (dict
      "title" .Title
      "number" 1
      "variant" "list"
      "count" (printf "1 of %d" $count)
      "items" $pages
      "listKind" "preview"
      "id" "list-panel"
    ) }}
    {{ partial "panel.html" (dict
      "title" "Preview"
      "number" 2
      "variant" "preview"
      "id" "preview-panel"
      "content" "<div class=\"js-preview-placeholder\"><p>Select an item on the left.</p></div>"
    ) }}
  </div>
{{ end }}
